<!DOCTYPE html>
<html lang="en">
  <head>
    <title>H2A2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      // hide navbar
      $(document).ready(function(){
      // hide .navbar first
      $(".navbar").hide();

      // fade in .navbar
      $(function () {
        $(window).scroll(function () {
          // set distance user needs to scroll before we start fadeIn
          if ($(this).scrollTop() > 200) {
            $('.navbar').fadeIn();
          } 
          else {
            $('.navbar').fadeOut();
          }
        });
      });
    });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  </head>

<body ng-app="h2a2" data-spy="scroll" data-target="#navbarLocations">

  <!-- navbar -->  
  <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">  
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarLocations"> 
      <ul class="navbar-nav nav-fill w-70 mr-4">
        <li class="nav-item">
          <a class="nav-link text-center" data-value="home" href="deals.html">Home</a>
        </li>    
        <li class="nav-item"> 
          <a class="nav-link text-center" data-value="map" href="map.html">Locations</a>       
        </li> 
        <li class="nav-item"> 
          <a class="nav-link text-center" data-value="today" href="today.html">Today's Deals</a>       
        </li> 
      </ul> 
    </div>
  </nav>

  <!-- header -->
  <header class="header" id="deals-background">
    <div class="container" id="home">
      <div id="header-navbar">
        <a class="header-link" data-value="home" href="deals.html">Home</a>
        <a class="header-link" data-value="map" href="map.html">Locations</a>
        <a class="header-link" data-value="todaysdeals" href="today.html">Today's Deals</a>  
        
      </div>

      <div class="header-description">
        <h1>
          <h2>ann ar&#183;bor</h2>
          <h3>/ &aelig;n arb&#601;r / (noun)</h3>
          <!-- http://time.com/money/collection/2018-best-places-to-live/5361499/ann-arbor-michigan/ -->
          <p class="header-definition">Famous as home to the University of Michigan, Ann Arbor is a bustling college town, urban oasis, and cultural melting pot. The walkable downtown includes galleries, theaters, and museums, and the Ann Arbor Art Fair draws hundreds of thousands of visitors each year.</p>   
        </h1>  
      </div>
    </div>
  </header>
  <br>

<!-- South U -->
<div class="container" id="southu">
  <div class="description">
    <h1>
      <h2>south u&#183;ni&#183;ver&#183;si&#183;ty</h2>
      <h3>/ sau&#775;th y&#333;&#333;n&#601;'v&#601;rs&#601;d&#275; / (noun)</h3>
      <!-- https://localwiki.org/ann-arbor/South_University -->
      <p class="definition">South University Avenue is an east-west street on the southern edge of the original University of Michigan campus. It runs east from State Street; after exiting campus, it runs through a commercial area dominated by coffee shops, bars, restaurants and retail establishments that cater to high school and college students. This business area is mostly vacant during the summer and during breaks from school.</p>   
    </h1>  
  </div>
</div>
<br>
 <div class="container" ng-controller="southUbarInfo">
  <div class="row">
   <div class="col-sm-12 col-md-6 col-lg-4 mb-4" ng-repeat="bar in southUbarResults">
    <div id="{{ bar.name }}" class="carousel slide" data-ride="carousel" data-interval="20000">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#{{ bar.name }}" data-slide-to="0" class="active"></li>
        <li data-target="#{{ bar.name }}" data-slide-to="1"></li>
        <li data-target="#{{ bar.name }}" data-slide-to="2"></li>
      </ul>
      <div class="img-container">
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ bar.img_urls[0] }}" alt="First" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{{ bar.img_urls[1] }}" alt="Second" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{{ bar.img_urls[2] }}" alt="Third" class="img-fluid">
          </div>
        </div>
        <div class="overlay">
          <div class="container">
            <div class="row justify-content-center">
              <div class="bar-location col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                {{ bar.address }}
              </div>
              <div class="bar-logo col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="{{ bar.logo }}" class="img-fluid">
              </div>
              <div class="bar-number col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                {{ bar.phone }}
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="bar-info col-12 col-sm-12 col-md-12 col-lg-12 mb-4 text-center">
                <p>{{ bar.days }} {{ bar.hours }}</p>
                <p class="bar-deals" ng-repeat="deal in bar.deals">{{ deal }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href='#{{ bar.name }}' role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href='#{{ bar.name }}' role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   </div>
  </div>
 </div>
 <br>

 <!-- Main St -->
<header class="header" id="mainst-background">
    <div class="container" id="main">
      <div class="mainst-description">
        <h1>
          <h2>main street</h2>
          <h3>/ m&#257;n str&#275;t / (noun)</h3>
          <!-- https://www.visitannarbor.org/play/main-street-in-ann-arbor -->
          <p class="mainst-definition">Ann Arbor's Main Street has been widely known for decades. When Bob Seger wrote his song Mainstreet, he was inspired by Ann Arbor, where he grew up. The song recalls a simpler time and place that is distinctively Midwestern. The time and place have changed, of course, but Ann Arbor still has the feeling of Main Street USA.</p>   
        </h1>  
      </div>
    </div>
  </header>
<br>
<br>
 <div class="container" ng-controller="mainStbarInfo">
  <div class="row">
   <div class="col-sm-12 col-md-6 col-lg-4 mb-4" ng-repeat="bar in mainStbarResults">
    <div id="{{ bar.name }}" class="carousel slide" data-ride="carousel" data-interval="20000">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#{{ bar.name }}" data-slide-to="0" class="active"></li>
        <li data-target="#{{ bar.name }}" data-slide-to="1"></li>
        <li data-target="#{{ bar.name }}" data-slide-to="2"></li>
      </ul>
      <div class="img-container">
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ bar.img_urls[0] }}" alt="First" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{{ bar.img_urls[1] }}" alt="Second" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{{ bar.img_urls[2] }}" alt="Third" class="img-fluid">
          </div>
        </div>
        <div class="overlay">
          <div class="container">
            <div class="row justify-content-center">
              <div class="bar-location col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                {{ bar.address }}
              </div>
              <div class="bar-logo col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="{{ bar.logo }}" class="img-fluid">
              </div>
              <div class="bar-number col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                {{ bar.phone }}
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="bar-info col-12 col-sm-12 col-md-12 col-lg-12 mb-4 text-center">
                <p>{{ bar.days }} | {{ bar.hours }}</p>
                <p class="bar-deals" ng-repeat="deal in bar.deals">{{ deal }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href='#{{ bar.name }}' role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href='#{{ bar.name }}' role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   </div>
  </div>
 </div>

 <!-- Kerrytown -->
 <div class="container" id="kerrytown">
  <div class="description">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <img src="http://localhost:8000/assets/kerrytown.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <h1>
        <h2>ker&#183;ry&#183;town</h2>
        <h3>/ ker-&#275;tau&#775;n / (noun)</h3>
        <!-- https://en.wikipedia.org/wiki/Kerrytown,_Ann_Arbor -->
        <p class="definition">Kerrytown is a historic district in Ann Arbor, Michigan. It is known for its brick streets and sidewalks, diverse array of shops, and vibrant culture. Kerrytown is home to several iconic establishments, including the Ann Arbor Farmers Market, the Kerrytown Concert House, and Community High School.</p>   
        </h1>  
      </div>
    </div>
  </div>
</div>
<br>
 <div class="container" ng-controller="kerrytownbarInfo">
  <div class="row">
   <div class="col-sm-12 col-md-6 col-lg-4 mb-4" ng-repeat="bar in kerrytownbarResults">
    <div id="{{ bar.name }}" class="carousel slide" data-ride="carousel" data-interval="20000">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#{{ bar.name }}" data-slide-to="0" class="active"></li>
        <li data-target="#{{ bar.name }}" data-slide-to="1"></li>
        <li data-target="#{{ bar.name }}" data-slide-to="2"></li>
      </ul>
      <div class="img-container">
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ bar.img_urls[0] }}" alt="First" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{{ bar.img_urls[1] }}" alt="Second" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{{ bar.img_urls[2] }}" alt="Third" class="img-fluid">
          </div>
        </div>
        <div class="overlay">
          <div class="container">
            <div class="row justify-content-center">
              <div class="bar-location col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                {{ bar.address }}
              </div>
              <div class="bar-logo col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="{{ bar.logo }}" class="img-fluid">
              </div>
              <div class="bar-number col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                {{ bar.phone }}
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="bar-info col-12 col-sm-12 col-md-12 col-lg-12 mb-4 text-center">
                <p>{{ bar.days }} | {{ bar.hours }}</p>
                <p class="bar-deals" ng-repeat="deal in bar.deals">{{ deal }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href='#{{ bar.name }}' role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href='#{{ bar.name }}' role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   </div>
  </div>
 </div>
 <br>
</body>
</html>