<!DOCTYPE html>
<html lang="en">
  <head>
    <title>H2A2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      // hide navbar
      $(document).ready(function(){
      // hide .navbar first
      $(".navbar").hide();

      // fade in .navbar
      $(function () {
        $(window).scroll(function () {
          // set distance user needs to scroll before we start fadeIn
          if ($(this).scrollTop() > 200) {
            $('.navbar').fadeIn();
          } 
          else {
            $('.navbar').fadeOut();
          }
        });
      });
    });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  </head>

<body ng-app="dayPick" data-spy="scroll" data-target="#navbarLocations">

  <!-- navbar -->  
  <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">  
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarLocations"> 
      <ul class="navbar-nav nav-fill w-70 mr-4">
        <li class="nav-item">
          <a class="nav-link text-center" data-value="home" href="deals.html">Home</a>
        </li>    
        <li class="nav-item"> 
          <a class="nav-link text-center" data-value="map" href="map.html">Map View</a>       
        </li> 
        <li class="nav-item"> 
          <a class="nav-link text-center" data-value="today" href="today.html">Today's Deals</a>       
        </li> 
      </ul> 
    </div>
  </nav>

  <!-- header -->
  <header class="header" style="height: 100px; width:100%; display:flex;justify-content:center; align-content: center;">
    <div class="container" id="home"">
      <div id="header-navbar">
        <a class="map-header-link" data-value="home" href="deals.html">Home</a>
        <a class="map-header-link" data-value="map" href="map.html">Map View</a>
        <a class="map-header-link" data-value="todaysdeals" href="today.html">Today's Deals</a>  
      </div>
    </div>
  </header>
<br>
<div ng-controller="allInfo">

  <div class="container" id="southu">
    <h2 ng-bind="dayHead" style="text-align: center; font-size: 5em; margin-bottom: 50px;">TODAY'S DEALS</h2>
  </div>
  <div style="text-align: center;">
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
      <button id="mon" type="button" ng-click="chooseDay(1)" class="btn btn-dark">Mon</button>
      <button id="tue" type="button" ng-click="chooseDay(2)" class="btn btn-dark">Tue</button>
      <button id="wed" type="button" ng-click="chooseDay(3)" class="btn btn-dark">Wed</button>
      <button id="thu" type="button" ng-click="chooseDay(4)" class="btn btn-dark">Thu</button>
      <button id="fri" type="button" ng-click="chooseDay(5)" class="btn btn-dark">Fri</button>
      <button id="sat" type="button" ng-click="chooseDay(6)" class="btn btn-dark">Sat</button>
      <button id="sun" type="button" ng-click="chooseDay(0)" class="btn btn-dark">Sun</button>
    </div>
  </div>

  <!-- South U -->
 

  <h3 class="todayLoc">South U</h3>
  <br>
   <div class="container"  >
    <div class="row">
     <div class="col-sm-12 col-md-6 col-lg-4 mb-4" ng-repeat="bar in southUbarResults" ng-if="bar.day_arr[dayOfWeek] == true">
      <div class="todayBack">

        <img class="todayLogo" src="{{ bar.logo }}" ng-click="friday();" >
        <div class="todayDeals">
          <h5>{{ bar.full_name }}</h5>
          <p>{{ bar.hours }}</p>
          <p class="noMarg" ng-repeat="deal in bar.deals">{{ deal }}</p>

        
      </div>
     </div>
    </div>
   </div>

   <br>
   <h3 class="todayLoc">Main St</h3>
    <br>
     <div class="container" id="ref">
      <div class="row">
       <div style="" class="col-sm-12 col-md-6 col-lg-4 mb-4" ng-repeat="bar in mainStbarResults" ng-if="bar.day_arr[dayOfWeek] == true">
        <div class="todayBack">
        <img class="todayLogo" src="{{ bar.logo }}">
        
          <div class="todayDeals">
            <h5 class="todayDeals">{{ bar.full_name }}</h5>
            <p class="todayDeals">{{ bar.hours }}</p>
            <p class="noMarg" ng-repeat="deal in bar.deals">{{ deal }}</p>
          </div>
        </div>

       </div>
      </div>
     </div>
   
     <br>
   <h3 class="todayLoc">Kerrytown</h3>
    <br>
  <div >
     <div class="container">
      <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-4 mb-4" ng-repeat="bar in kerrytownbarResults" ng-if="bar.day_arr[dayOfWeek] == true">
        <div class="todayBack">
        <img class="todayLogo" ng-click="friday();" src="{{ bar.logo }}">
        <div class="todayDeals">
          <h5 class="todayDeals">{{ bar.full_name }}</h5>
          <p class="todayDeals">{{ bar.hours }}</p>
          <p class="noMarg" ng-repeat="deal in bar.deals">{{ deal }}</p>
        </div>
        </div>
          
        
       </div>
      </div>
     </div>
   </div>
 </div>
   <br>

 
</body>
</html>